<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 记录spring bean的日志信息 -->
	<aop:config>
		<aop:aspect id="logging" ref="loggingAspect">
			<aop:pointcut id="loggingPointcut"
				expression="execution(public * com.gxws..*.*(..)) 
				and not execution(* com.gxws.tool.logging..*.*(..))
				and not execution(* com.gxws.tool..*.*(org.aspectj.lang.JoinPoint))
				and not target(org.springframework.web.servlet.HandlerInterceptor)" />
			<aop:before method="before" pointcut-ref="loggingPointcut" />
			<aop:after method="after" pointcut-ref="loggingPointcut" />
		</aop:aspect>
	</aop:config>
	<bean id="loggingAspect" class="com.gxws.tool.logging.spring.aspect.BeanLoggingAspect" />

	<mvc:interceptors>
		<!-- 记录http request信息 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean
				class="com.gxws.tool.logging.spring.interceptor.WebLoggingInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<dubbo:provider filter="dubboProviderLoggingInterceptor" />
	<dubbo:consumer filter="dubboConsumerLoggingInterceptor" />
</beans>
